body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    font-optical-sizing: auto;
    &.modal-open{
        overflow: hidden;
    }
    background-color: $dark;
    color: $white;
}
