// 18px
.size-sm{
    width: .85rem !important;
    height: .85rem !important;
}

.size-1{
    width: 1.125rem !important;
    height: 1.125rem !important;
}

// 32
.size-2{
    width: 2rem !important;
    height: 2rem !important;
}
.size-3{
    width: 2.5rem !important;
    height: 2.5rem !important;
}

//60
.size-4{
    width: 3.75rem !important;
    height: 3.75rem !important;
}
//128
.size-5{
    width: 8rem !important;
    height: 8rem !important;
}

.txt_16{
    font-size: 1rem;
}
.text-sm{
    font-size: $font-size-sm;
}
