.bug_title{
    width: 500px; /* Définit la largeur maximale de l'élément */
    overflow: hidden; /* Cache le texte qui dépasse la largeur */
    white-space: nowrap; /* Empêche le texte de se répartir sur plusieurs lignes */
    text-overflow: ellipsis; /* Ajoute les points de suspension */
}
.upload-zone{
    background: lighten($light, 2%);
    height: 100%;
    border: 1px solid darken($light, 10%);
    border-radius: .5rem;

    .drop-zone{
        background: $light;
        border: 1px dashed darken($light, 10%);
        border-radius: .5rem;
        transition: background-color .2s ease-out, border .2s ease-out;
        &.drag-over{
            background: darken($light, 10%);
            border-color: darken($light, 20%);;
        }
    }
}
.dropZone{
   /* background: $light;
    height: 100%;
    border: 1px solid darken($light, 10%);
    border-radius: .5rem;*/
}
