.card{
    >.card-body.p-0{
        table.table-bordered{
            thead{
                background: red;
                >tr:first-child{
                    border-top-width: 0;
                }
            }
            tbody{
                >tr:last-child{
                    border-bottom-width: 0;
                }
            }
            > :not(caption) > * > *{
                padding-left: $card-cap-padding-y;
                padding-right: $card-cap-padding-y;
                &:first-child{
                    border-left: none;
                }
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
}

.table {

    tr{
        .row-actions{
            visibility: hidden;
            display: flex;
            align-items: center;
            *{
                font-size: .75rem !important;
            }
        }
        &:hover{
            .row-actions{
                visibility: visible;
            }
        }
    }
}
.table-hover > tbody > tr > * {
    //background-color: green;
    transition: background 300ms ease-out;
}
.table-hover > tbody > tr:hover > *{
    background-color: $light;
}
